<%= form_for(@group, html: { class: 'form-horizontal', role: 'form' }) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
     <%= f.label :name, class: 'col-lg-2 control-label' %>
    <div class="col-lg-4">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :bucket, class: 'col-lg-2 control-label' %>
    <div class="col-lg-4">
      <%= f.number_field :bucket, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :user_ids, 'Users', class: 'col-lg-2 control-label' %>
    <div class="col-lg-4">
      <%= f.collection_select :user_ids, User.all(:order => "name"), :id, :name, {}, multiple: true, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-4">
      <%= f.submit "Create", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
