<legend>
  <div class="row">
    <div class="col-xs-7"><h2>My Groups</h2></div>
    <div class="col-xs-5">
      <%= button_to 'New Group', new_group_path, method: :get, class: 'btn btn-primary btn-lg btn-block' %>
    </div>
  </div>
</legend>

<% @groups.each do |group| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <strong>
          <%= group.name %>
        </strong>
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6">
          <strong>Members: </strong><i><%= group.users.map(&:name).to_sentence %></i>
        </div>
        <div class="col-sm-6"><strong>Fun Fund: </strong><i>$<%= group.bucket %></i></div>
      </div>
      <div class="spacer10 row">
        <div class="col-xs-6 col-sm-3"><%= button_to 'New Challenge', group, method: :get, class: 'btn btn-primary btn-block' %></div>
        <div class="col-xs-6 col-sm-3"><%= button_to 'Delete', group, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-block' %></div>
      </div>
    </div><!-- panel-body -->
  </div><!-- panel -->
<% end %>
</table>
