<%= form_for([@group, Challenge.new], html: { class: 'form-horizontal', role: 'form' }) do |f| %>
  <legend><h2>New Challenge - <%= @group.name %></h2></legend>

  <%= hidden_field_tag :timezone %>
  <div class="form-group">
    <%= f.label :name, class: 'col-lg-2 control-label' %>
    <div class="col-lg-4">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, class: 'col-lg-2 control-label' %>
    <div class="col-lg-4">
      <%= f.text_field :description, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :start, class: 'col-lg-2 control-label' %>
    <div class="col-lg-4">
      <%= f.text_field :start, type: 'datetime-local', class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :end, class: 'col-lg-2 control-label' %>
    <div class="col-lg-4">
      <%= f.text_field :end, type: 'datetime-local', class: 'form-control' %>
    </div>
  </div>

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  <script type="text/javascript">
var geocoder;
var map;
function initialize() {
  console.log("go here");
  geocoder = new google.maps.Geocoder();
  var latlng = new google.maps.LatLng(37.79, -122.404);
  var mapOptions = {
    zoom: 13,
    center: latlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }
  map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
}

function codeAddress() {
  var address = document.getElementById('address').value;
  geocoder.geocode( { 'address': address}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}

google.maps.event.addDomListener(window, 'load', initialize);
  </script>
  <div style="height:380px">
    <input id="address" type="textbox">
    <input type="button" value="Set Location" onclick="codeAddress()">
    <br> <br>
    <div id="map-canvas" style="height:380px"></div>  
  </div>
<br>
<br>
<br>
<div class="form-group">
    <div class="col-lg-offset-2 col-lg-4">
      <%= f.submit "Create", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
