<% @challenges.each do |challenge| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          <strong>Name: <%= challenge.name %></strong>
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse in">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6">Members: <% challenge.group.users.each do |user| %><%= user.name %><% end %></div>
          <div class="col-sm-6 pull-right" style="text-align:right;">Time Remaining: <%= time_ago_in_words(challenge.end) %></div>
        </div>
        <div>
          Description: <%= challenge.description %>
          <%= link_to 'Show', challenge, :class => 'btn btn-default pull-right' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
