<legend><h2>My Challenges</h2></legend>

<% current_user.groups.each do |group| %>
  <% group.challenges.each do |challenge| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
            <strong>Name: <%= challenge.name %></strong>
        </h4>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6">Members: <%= challenge.group.users.map(&:name).to_sentence %></div>
          <div class="col-sm-6 pull-right" style="text-align:right;">Time Remaining: <%= time_ago_in_words(challenge.end) %></div>
        </div>
        <div>
          Description: <%= challenge.description %>
        </div>
        <%= button_to 'Details', challenge, method: :get, :class => 'btn btn-primary pull-right' %>
      </div>
    </div>
    <% end %>
<% end %>
