<p id="notice"><%= notice %></p>

<p>
  <b>Start:</b>
  <%= @challenge.start %>
</p>

<p>
  <b>End:</b>
  <%= @challenge.end %>
</p>

<p>
  <b>Description:</b>
  <%= @challenge.description %>
</p>

<p>
  <b>Group:</b>
  <%= @challenge.group %>
</p>


<%= link_to 'Edit', edit_challenge_path(@challenge) %> |
<%= link_to 'Back', challenges_path %>
